@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/Inter-Regular.woff2?v=4.0) format("woff2")
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/Inter-Italic.woff2?v=4.0) format("woff2")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/static/fonts/Inter-Bold.woff2?v=4.0) format("woff2")
}

@font-face {
    font-family: fallback-inter;
    ascent-override:96.875%;descent-override:24.121%;line-gap-override:0%;size-adjust:106%;src: local("Arial")
}

:root {
    --navbar-height: 48px;
    --body-bg-color: #161920;
    --body-color: #ddd;
    --contrast-color: #fff;
    --muted-bg-color: #213145;
    --muted-color: #999;
    --border-color: hsl(216deg 25% 30%);
    --border-color-2: hsl(216deg 25% 16%);
    --link-color: #00aff4;
    --link-color-hover: #0095ff;
    --bg-green: #030;
    --bg-blue: #00174d;
    --state-text-color: #111;
    --state-owned: 89 185 70;
    --state-wished: 102 148 255;
    --state-watched: 87 132 168;
    --state-followed: 211 222 234;
    --state-cart: 247 203 8;
    --state-ignored: 191 191 191;
    --tooltip-bg: rgb(255 255 255 / 80%);
    --tooltip-green: #577c27;
    color-scheme: dark;
    scrollbar-color: var(--border-color) var(--body-bg-color);
    scroll-padding-top: calc(var(--navbar-height) + 15px);
    tab-size: 4;
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%
}

*,*:before,*:after {
    box-sizing: inherit
}

body {
    font: 14px/20px Inter,fallback-inter,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
    color: var(--body-color);
    background-color: var(--body-bg-color);
    margin: 0;
    height: 100%
}

iframe {
    border: 0;
    overflow: hidden;
    background-color: transparent;
    color-scheme: light
}

a {
    color: var(--link-color);
    text-decoration: none
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline
}

hr {
    height: 1px;
    margin: 15px 0;
    overflow: hidden;
    background: var(--border-color);
    padding: 0;
    border: 0
}

blockquote {
    margin: 0
}

img {
    vertical-align: middle
}

.container {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto
}

.row {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    column-gap: 20px
}

.span12 {
    width: 940px
}

.span11 {
    width: 860px
}

.span10 {
    width: 780px
}

.span9 {
    width: 700px
}

.span8 {
    width: 620px
}

.span7 {
    width: 540px
}

.span6 {
    width: 460px
}

.span5 {
    width: 380px
}

.span4 {
    width: 300px
}

.span3 {
    width: 220px
}

.span2 {
    width: 140px
}

.span1 {
    width: 60px
}

@media (max-width: 980px) {
    .container {
        width:auto
    }

    .row {
        width: 100%;
        flex-direction: column
    }

    .span12,.span11,.span10,.span9,.span8,.span7,.span6,.span5,.span4,.span3,.span2,.span1 {
        width: 100%
    }
}

p {
    margin: 0 0 10px
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

small {
    font-size: 80%
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
    font-weight: 400;
    line-height: 1;
    color: inherit
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
    font-weight: 400;
    line-height: 1;
    color: var(--muted-color)
}

h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400
}

h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400
}

h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 400
}

h4 {
    font-size: 18px;
    line-height: 20px
}

h5 {
    font-size: 14px;
    line-height: 20px
}

h6 {
    font-size: 12px;
    line-height: 20px
}

h1 small {
    font-size: 24px
}

h2 small {
    font-size: 18px
}

h3 small,h4 small {
    font-size: 14px
}

ul,ol {
    padding-left: 2em
}

ul ul,ul ol,ol ol,ol ul {
    margin-top: 0;
    margin-bottom: 0
}

li>p {
    margin-top: 16px
}

code {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: #0000000a;
    border-radius: 6px
}

code br {
    display: none
}

del code {
    text-decoration: inherit;
    vertical-align: text-top
}

pre,code,.code {
    font-family: ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace
}

pre {
    padding: 16px;
    overflow: auto;
    border-radius: 6px;
    overflow-wrap: normal;
    line-height: 1.45;
    font-size: 13px;
    background-color: var(--muted-bg-color)
}

pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    white-space: pre;
    background: transparent;
    border: 0;
    display: inline;
    max-width: initial;
    overflow: visible;
    line-height: inherit;
    overflow-wrap: normal
}

abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted
}

.header-title {
    color: var(--contrast-color);
    font-size: 28px;
    line-height: 1.7
}

.header-subtitle {
    color: var(--muted-color);
    font-size: 24px;
    line-height: 1.2
}

.header {
    display: grid;
    grid-template-columns: minmax(max-content,1fr) minmax(min-content,960px) minmax(max-content,1fr);
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    z-index: 10001;
    background-color: #000;
    user-select: none;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000
}

.header-navbar {
    display: flex;
    align-items: center
}

.header-navbar>div {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0
}

.header-navbar>a {
    color: #fff;
    padding: 0 10px;
    white-space: nowrap
}

.header-navbar>a:hover {
    color: #66c0f4
}

.header-brand {
    font-weight: 700;
    font-size: 16px
}

.header-navbar>.header-brand {
    display: flex;
    align-items: center
}

.header-brand span {
    margin-left: 6px
}

.header-brand:hover {
    text-decoration: none
}

.header-brand:hover span {
    text-decoration: underline
}

.header-search {
    display: flex;
    width: 100%;
    max-width: 250px;
    background-color: #333;
    border-radius: 6px
}

.header-search .field {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    line-height: 19px;
    height: 30px;
    min-height: 30px;
    color: #fff;
    padding: 0 0 0 7px
}

.header-search .field:focus {
    outline: none;
    box-shadow: none
}

.header-search .field::placeholder {
    color: #999
}

.header-search .submit {
    border: 0;
    border-radius: 6px;
    padding: 0 6px;
    flex-shrink: 0;
    outline: none;
    background: none;
    color: #999;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer
}

.header-search .submit:focus,.header-search .submit:hover {
    color: #fff
}

.header-login {
    display: inline-block;
    color: #fff;
    padding: 0 10px
}

a.header-login:hover {
    color: #8cc152;
    text-decoration: none
}

.header-login:hover span {
    text-decoration: underline
}

.header-user {
    display: flex;
    align-items: center;
    justify-content: end;
    flex: 1 0 auto
}

.header-user-avatar {
    display: inline-block;
    margin-right: 10px;
    border-radius: 6px;
    color: var(--muted-color)
}

.header-user-admin {
    margin-left: 10px;
    color: #ffd33d
}

.header-menu-button-container {
    display: flex;
    flex: 1 0 auto;
    align-items: center
}

.header-menu-button {
    flex-shrink: 0;
    margin-left: 10px;
    height: 30px;
    padding: 0 15px;
    cursor: pointer;
    color: #fff;
    background: #333;
    border: 1px solid #666;
    border-radius: 6px
}

.header-menu-button .octicon {
    vertical-align: text-bottom
}

.header-search-mobile {
    display: none
}

.header-menu-button:focus,.header-menu-button:hover,.header-user-avatar:focus,.header-user-avatar:hover,.header-search:focus-within {
    border-color: #51a7e8;
    box-shadow: 0 0 0 3px #66c0f4;
    outline: none;
    text-decoration: none
}

.navigation-heading {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 6px
}

.header-menu .navigation-heading {
    padding-left: 20px
}

.navigation-heading .octicon {
    vertical-align: -2px
}

.header-menu-container {
    z-index: 10001;
    background: #1c1e2ce5;
    box-shadow: 0 3px 12px #00000026;
    backdrop-filter: blur(5px);
    position: fixed;
    inset: var(--navbar-height) 0 0 0
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: auto;
    scrollbar-width: thin;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    max-width: 860px;
    margin: 0;
    background-color: #111;
    border-bottom-right-radius: 30px
}

.header-menu ul {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    width: 280px
}

.account-menu {
    position: fixed;
    right: 0;
    top: var(--navbar-height);
    width: min-content;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 12px;
    box-shadow: -4px 8px 24px #959da533;
    z-index: 10003
}

.account-menu ul {
    width: unset;
    margin: 10px 0
}

.header-menu li>a {
    display: block;
    padding: 1px 20px;
    font-size: 16px;
    line-height: 26px;
    white-space: nowrap
}

.header-menu li>a:hover,.header-menu li>a:focus {
    color: var(--link-color)
}

.header-disclaimer {
    width: 100%;
    margin: 20px;
    text-align: center;
    display: block;
    color: var(--muted-color)
}

.header-kbd {
    width: 100%;
    text-align: center;
    margin: 10px
}

.header-search-suggestions kbd,.header-kbd kbd {
    padding: .2rem .4rem;
    color: #fff;
    background-color: #394047;
    border-radius: 6px;
    font: inherit
}

.header-search-enter kbd,.header-kbd kbd {
    margin-left: 10px
}

.header-search-suggestions {
    display: none;
    background: #1c1e2ce5;
    backdrop-filter: grayscale(100%) blur(5px);
    padding: 15px 0;
    min-height: 100vh;
    overflow: hidden;
    user-select: none;
    position: fixed;
    inset: var(--navbar-height) 0 0 0;
    z-index: 10002
}

.header-search-suggestions p,.header-search-suggestions li {
    font-size: 20px;
    line-height: 1.5
}

.header-search-suggestions .app {
    color: #fff;
    display: block;
    padding: 5px;
    font-size: 30px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.header-search-suggestions .app-small {
    font-size: 16px
}

.header-search-suggestions .app.followed {
    background-color: rgb(var(--state-followed) / 20%)
}

.header-search-suggestions .app.wished {
    background-color: rgb(var(--state-wished) / 20%)
}

.header-search-suggestions .app.owned {
    background-color: rgb(var(--state-owned) / 20%)
}

.header-search-suggestions img {
    background: #000;
    width: 120px;
    height: 45px;
    margin-right: 10px
}

.header-search-suggestions .app-small img {
    width: 60px;
    height: 22px
}

.header-search-suggestions .app.focus:before,.header-search-suggestions .app:hover:before {
    content: "\bb";
    position: absolute;
    margin-left: -50px;
    font-size: 64px;
    line-height: .5;
    color: #fff
}

.header-search-suggestions .app-small.focus:before,.header-search-suggestions .app-small:hover:before {
    font-size: 30px;
    margin-left: -30px
}

.header-search-suggestions .app:hover:before {
    color: var(--link-color)
}

.header-search-suggestions .s-hit--highlight {
    font-weight: 700;
    color: var(--link-color)
}

.btn.header-search-close {
    margin: 0 10px;
    padding: 0 10px;
    height: 30px;
    display: none
}

.header-search-focus+.header-search-suggestions {
    display: block
}

.header-search-suggestions .app.focus,.header-search-suggestions .app:hover,.header-search-suggestions .app:focus,.header-search-suggestions .app.focus .s-hit--highlight,.header-search-suggestions .app:hover .s-hit--highlight,.header-search-suggestions .app:focus .s-hit--highlight {
    background-color: #66c0f4;
    color: #000
}

.header-search-side-close {
    position: fixed;
    inset: 0 0 0 calc(50% + 480px);
    display: flex;
    justify-content: flex-end;
    cursor: pointer
}

.header-search-side-close-inner {
    font-size: 18px;
    padding: 20px
}

.header-search-side-close:hover .header-search-side-close-inner {
    background: #000
}

.header-search-enter {
    margin-bottom: 15px
}

.global-announcement {
    color: #cce5ff;
    background-color: #203f60;
    font-size: 16px;
    z-index: 4;
    padding: 10px 0;
    position: relative
}

.global-announcement a {
    text-decoration: underline;
    color: inherit
}

.header-localhost {
    flex-shrink: 0;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    width: 60px;
    font-weight: 700;
    border-radius: 6px;
    background: #ffd33d;
    color: #000
}

.skip-main {
    position: fixed;
    width: 1px;
    height: 1px;
    overflow: hidden
}

.skip-main:focus {
    z-index: 20000;
    background: #07c;
    color: #fff;
    width: auto;
    height: auto;
    outline: none;
    text-decoration: underline;
    padding: 14px
}

@media (max-width: 980px) {
    .header .container {
        width:auto
    }

    .header-search-mobile {
        align-self: center;
        display: block;
        flex-shrink: 0;
        margin-right: 10px;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        cursor: pointer;
        color: #fff;
        background: none;
        border: none;
        border-radius: 6px
    }

    .header-menu-button span,.header-search,.header-search-side-close,.header-search-focus .header-search-mobile,.header-search-focus .header-brand span,.header-search-focus .header-localhost,.header-search-focus .header-menu-button,.header-navbar>a:not(.header-brand) {
        display: none
    }

    .header-search-focus .header-search-close {
        display: block
    }

    .header-search-mobile,.header-menu-button {
        border: none;
        background: none;
        line-height: 1;
        padding: 0 5px
    }

    .header-menu-button>.octicon {
        height: 24px;
        width: 24px
    }

    .header-menu {
        max-width: 580px;
        border-radius: 0
    }

    .header-menu li>a {
        padding: 6px 20px;
        font-size: 18px
    }

    .header-search {
        flex: 1;
        max-width: 100%
    }

    .header-title {
        white-space: normal
    }

    .header-search-suggestions .app {
        font-size: 16px
    }

    .header-search-focus .header-search {
        display: flex
    }
}

@media (max-width: 580px) {
    .header-menu {
        max-width:300px
    }
}

@supports not (backdrop-filter: blur(5px)) {
    .header-search-suggestions,.header-menu-container {
        background:#1c1e2cf2
    }
}

.body-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: var(--navbar-height)
}

.body-content {
    flex-grow: 1
}

.armored-headcrab {
    display: flex;
    width: 800px;
    margin: 80px auto 0;
    padding: 10px 20px;
    border-radius: 6px 0;
    background: var(--muted-bg-color);
    font-size: 18px;
    line-height: 1.4;
    transform: skew(-12deg);
    color: #ded0fb
}

.armored-headcrab:hover {
    color: var(--contrast-color)
}

.armored-headcrab span {
    transform: skew(12deg)
}

.armored-headcrab .octicon {
    flex-shrink: 0;
    margin: auto 0 auto auto;
    transform: skew(12deg)
}

.footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--border-color)
}

.footer-container {
    width: 1600px;
    padding: 50px 20px
}

.footer-menu {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
    padding-bottom: 20px
}

.footer-menu ul {
    flex: 1 1 0;
    padding: 0;
    list-style: none
}

.footer-menu a {
    line-height: 26px;
    white-space: nowrap;
    border-radius: 6px
}

.btn-social {
    fill: currentColor;
    color: var(--contrast-color);
    margin-right: 20px
}

.btn-social-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle
}

.btn-social:hover {
    color: var(--link-color-hover);
    text-decoration: none
}

.footer-copyright {
    width: 100%;
    display: flex;
    color: var(--muted-color);
    font-size: 12px
}

.footer-copyright p {
    margin-bottom: 0
}

.footer-copyright-extra {
    margin-top: 10px
}

.footer-buttons {
    margin-left: auto;
    flex-shrink: 0
}

@media (max-width: 1600px) {
    .footer-container {
        width:100%
    }
}

@media (max-width: 980px) {
    .footer-copyright {
        flex-direction:column
    }

    .footer-buttons {
        display: flex;
        justify-content: space-between;
        order: -1;
        margin-left: 0;
        margin-bottom: 50px
    }

    .btn-social {
        margin-right: 0
    }

    .armored-headcrab {
        width: 85%
    }
}

@media (max-width: 500px) {
    .armored-headcrab .octicon {
        display:none
    }
}

.panel p {
    margin: 0
}

.panel {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid hsl(204deg 100% 30%);
    border-radius: 6px
}

.panel-heading {
    margin: -15px -15px 15px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #003d66;
    border-radius: 5px 5px 0 0
}

.panel-heading a {
    color: inherit
}

.panel-table {
    margin: 0 -15px
}

.panel-table>.table {
    margin-bottom: -15px;
    border-bottom: 0
}

.panel-error {
    border-color: #dc3545;
    max-width: 960px;
    margin: 20px auto
}

.panel-error .panel-heading {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff
}

.tabnav {
    margin-top: 15px;
    font-size: 0
}

.tabnav .counter {
    margin-left: 5px
}

.tabnav-tabs {
    display: flex;
    flex-wrap: wrap
}

.tabnav-tab {
    flex: 0 0 auto;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--body-color);
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid transparent
}

.tabnav-tab.selected {
    color: var(--link-color);
    background-color: var(--body-bg-color);
    border-color: currentColor
}

.tabnav-tab:hover {
    text-decoration: none;
    background-color: var(--body-bg-color);
    border-color: currentColor
}

.tabnav-extra {
    display: inline-block;
    padding-top: 10px;
    margin-left: 10px;
    font-size: 12px;
    color: var(--muted-color)
}

.tabnav-extra>.octicon {
    margin-right: 2px
}

.tabnav-btn {
    margin-left: 10px
}

.tab-content {
    padding-top: 10px
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.selected {
    display: block
}

.tabbable {
    position: relative
}

.tabbable>.tabnav .octicon {
    width: 16px;
    text-align: center
}

@media (min-width: 1300px) {
    .tabbable {
        display:flex
    }

    .tabbable>.tabnav {
        flex-shrink: 0;
        width: 150px;
        margin-top: 0;
        margin-left: -170px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-right: 20px
    }

    .tabbable>.tabnav .tabnav-tabs {
        margin-bottom: 0;
        margin-right: -1px
    }

    .tabbable>.tabnav .tabnav-tab {
        flex-grow: 1;
        position: relative
    }

    .tabbable>.tabnav .counter {
        position: absolute;
        top: 11px;
        right: 10px
    }

    .tabbable>.tab-content {
        flex-shrink: 0;
        width: 940px
    }
}

@media (min-width: 1300px) and (min-height: 600px) {
    .tabbable>.tabnav .tabnav-tabs {
        position:sticky;
        top: calc(var(--navbar-height) + 20px)
    }
}

@media (max-width: 980px) {
    .tabnav-tabs {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0 10px
    }
}

@media (max-width: 500px) {
    .tabnav-tabs {
        grid-template-columns:repeat(2,1fr)
    }
}

.table-products {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-wrap: anywhere
}

.table-products a {
    color: var(--body-color)
}

.table-products tr {
    border-bottom: 1px solid var(--border-color-2)
}

.table-products tr:last-child {
    border-bottom: 0
}

.table-products td {
    position: relative
}

.table-products th {
    height: 30px;
    background-color: #58727e;
    color: #f6f3f7;
    border: 0
}

.table-products th:first-child,.table-products td:first-child {
    padding-left: 8px
}

.table-products td.applogo {
    padding-left: 0
}

.table-products .applogo img {
    width: 107px;
    height: 40px;
    display: inline-block;
    background: url(/static/img/applogo.svg);
    background-size: contain
}

.table-products .subinfo {
    color: var(--muted-color);
    font-size: 12px;
    display: block
}

.table-products .subinfo a {
    color: inherit
}

.table-products tr:hover .subinfo,.table-products tr:hover .subinfo a {
    color: var(--body-color)
}

.pre-table-title {
    padding: 15px 30px;
    font-size: 25px;
    line-height: 1;
    color: #f6f3f7;
    background-color: #455a64;
    border-radius: 6px 6px 0 0
}

.pre-table-title a {
    color: #f6f3f7
}

table {
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0
}

th {
    text-align: left
}

td,th {
    padding: 0
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    overflow-wrap: anywhere
}

.table th,.table td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid var(--border-color)
}

.table th {
    font-weight: 700
}

.table-products thead th,.table-sales thead th,.table thead th {
    position: sticky!important;
    top: var(--navbar-height);
    z-index: 2
}

.table thead th {
    vertical-align: bottom;
    color: var(--body-color);
    background-color: var(--body-bg-color);
    border-bottom: 1px solid var(--border-color)
}

.table thead tr:first-child th,.table thead tr:first-child td {
    border-top: 0
}

.table tbody+tbody {
    border-top: 2px solid var(--border-color)
}

.table-bordered {
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 6px
}

.table-bordered th,.table-bordered td {
    border-left: 1px solid var(--border-color)
}

.table-bordered th:first-of-type,.table-bordered td:first-of-type {
    border-left: 0
}

.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td {
    border-top: 0
}

.table-bordered thead th:first-child {
    border-top-left-radius: 5px
}

.table-bordered thead th:last-child {
    border-top-right-radius: 5px
}

.table-hover tbody tr:hover td {
    background-color: var(--border-color-2)
}

.table-fixed {
    table-layout: fixed
}

.app-history-row.owned .app-history-type,.app-history-row.wished .app-history-type,.app-history-row.followed .app-history-type,tr.followed td:first-child,tr.wished td:first-child,tr.watched td:first-child,tr.cart td:first-child,tr.owned td:first-child,tr.ignored td:first-child {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 3px center;
    padding-right: 22px;
    color: var(--state-text-color)
}

tr.followed td:first-child a,tr.wished td:first-child a,tr.watched td:first-child a,tr.cart td:first-child a,tr.owned td:first-child a,tr.ignored td:first-child a {
    color: inherit
}

.app-history-row.followed,tbody tr.followed td {
    background-color: rgb(var(--state-followed) / 4%)
}

.app-history-row.followed .app-history-type,.page-instantsearch .app.followed .s-hit--image:before,tbody tr.followed td:first-child {
    background-color: rgb(var(--state-followed));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23111' d='M4.75 2.5a.25.25 0 00-.25.25v9.91l3.023-2.489a.75.75 0 01.954 0l3.023 2.49V2.75a.25.25 0 00-.25-.25h-6.5zM3 2.75C3 1.784 3.784 1 4.75 1h6.5c.966 0 1.75.784 1.75 1.75v11.5a.75.75 0 01-1.227.579L8 11.722l-3.773 3.107A.75.75 0 013 14.25V2.75z'%3E%3C/path%3E%3C/svg%3E")
}

.app-history-row.wished,tbody tr.wished td {
    background-color: rgb(var(--state-wished) / 4%)
}

.app-history-row.wished .app-history-type,.page-instantsearch .app.wished .s-hit--image:before,tbody tr.wished td:first-child {
    background-color: rgb(var(--state-wished));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23111' d='M2.5 1.75a.25.25 0 01.25-.25h8.5a.25.25 0 01.25.25v7.736a.75.75 0 101.5 0V1.75A1.75 1.75 0 0011.25 0h-8.5A1.75 1.75 0 001 1.75v11.5c0 .966.784 1.75 1.75 1.75h3.17a.75.75 0 000-1.5H2.75a.25.25 0 01-.25-.25V1.75zM4.75 4a.75.75 0 000 1.5h4.5a.75.75 0 000-1.5h-4.5zM4 7.75A.75.75 0 014.75 7h2a.75.75 0 010 1.5h-2A.75.75 0 014 7.75zm11.774 3.537a.75.75 0 00-1.048-1.074L10.7 14.145 9.281 12.72a.75.75 0 00-1.062 1.058l1.943 1.95a.75.75 0 001.055.008l4.557-4.45z'%3E%3C/path%3E%3C/svg%3E")
}

tbody tr.watched td {
    background-color: rgb(var(--state-watched) / 4%)
}

tbody tr.watched td:first-child {
    background-color: rgb(var(--state-watched));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.68 7.93a13.7 13.7 0 0 1 2.37-2.71A6.21 6.21 0 0 1 8 3.5c1.47 0 2.82.74 3.96 1.72a13.7 13.7 0 0 1 2.36 2.71.12.12 0 0 1 0 .14 13.7 13.7 0 0 1-2.37 2.71A6.21 6.21 0 0 1 8 12.5a6.21 6.21 0 0 1-3.96-1.72 13.61 13.61 0 0 1-2.36-2.71.12.12 0 0 1 0-.14zM8 2a7.7 7.7 0 0 0-4.93 2.08A15.19 15.19 0 0 0 .43 7.1a1.62 1.62 0 0 0 0 1.8c.45.68 1.37 1.93 2.64 3.02A7.7 7.7 0 0 0 8 14c1.98 0 3.67-1 4.93-2.08a15.16 15.16 0 0 0 2.64-3.02 1.62 1.62 0 0 0 0-1.8 15.16 15.16 0 0 0-2.64-3.02A7.7 7.7 0 0 0 8 2zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/svg%3E")
}

tbody tr.cart td {
    background-color: rgb(var(--state-cart) / 4%)
}

tbody tr.cart td:first-child {
    background-color: rgb(var(--state-cart));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath fill='%23111' d='M11.63 2.8a1.25 1.25 0 0 0-.48-.06H5c-.23 0-.54-.04-.78.03a.65.65 0 0 0-.5.64c0 .37.3.68.67.68h6.12l-.54 2.84a.7.7 0 0 1-.68.54H4.24a.72.72 0 0 1-.68-.54l-1.08-5A1.37 1.37 0 0 0 1.15.85H.68c-.38 0-.68.3-.68.67 0 .37.3.68.68.68h.47l1.08 5a2 2 0 0 0 2 1.59h5.06c.82 0 1.66-.54 1.9-1.32.17-.54.27-1.15.37-1.69.1-.57.24-1.15.34-1.69.04-.1.06-.22.06-.34.03-.1.04-.22.04-.34 0-.27-.14-.54-.37-.6ZM2.7 10.15a1.02 1.02 0 0 0 2.03 0c0-.56-.46-1.01-1.01-1.01-.56 0-1.02.45-1.02 1.01Zm6.09 0c0 .56.46 1.01 1.01 1.01.56 0 1.02-.45 1.02-1.01s-.46-1.01-1.02-1.01-1.01.45-1.01 1.01Z'/%3E%3C/svg%3E")
}

.app-history-row.owned,tbody tr.owned td {
    background-color: rgb(var(--state-owned) / 4%)
}

.app-history-row.owned .app-history-type,.page-instantsearch .app.owned .s-hit--image:before,tbody tr.owned td:first-child {
    background-color: rgb(var(--state-owned));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23111' d='M2 4a1 1 0 100-2 1 1 0 000 2zm3.75-1.5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM3 8a1 1 0 11-2 0 1 1 0 012 0zm-1 6a1 1 0 100-2 1 1 0 000 2z'%3E%3C/path%3E%3C/svg%3E")
}

tbody tr.ignored td {
    background-color: rgb(var(--state-ignored) / 4%)
}

.page-instantsearch .app.ignored .s-hit--image:after,tbody tr.ignored td:first-child {
    background-color: rgb(var(--state-ignored));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23111' fill-rule='evenodd' d='M4.467.22a.75.75 0 01.53-.22h6.006a.75.75 0 01.53.22l4.247 4.247c.141.14.22.331.22.53v6.006a.75.75 0 01-.22.53l-4.247 4.247a.75.75 0 01-.53.22H4.997a.75.75 0 01-.53-.22L.22 11.533a.75.75 0 01-.22-.53V4.997a.75.75 0 01.22-.53L4.467.22zm.84 1.28L1.5 5.308v5.384L5.308 14.5h5.384l3.808-3.808V5.308L10.692 1.5H5.308zM4 7.75A.75.75 0 014.75 7h6.5a.75.75 0 010 1.5h-6.5A.75.75 0 014 7.75z'%3E%3C/path%3E%3C/svg%3E")
}

td.dataTables_empty,td.dt-empty {
    text-align: center;
    font-size: 16px;
    line-height: 40px
}

.dataTable.nowrap th,.dataTable.nowrap td {
    white-space: nowrap
}

.dataTable_display {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px
}

.dataTable_display .pagination {
    margin: 0
}

.dataTable_display .pagination button:first-child {
    margin-left: 0
}

.dataTable_display .pagination button:last-child {
    margin-right: 0
}

.dt-length,.dt-search {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px
}

.dt-length .dt-input {
    width: 75px
}

.dt-length label {
    font-weight: 400;
    font-size: inherit
}

.dt-search label {
    display: none
}

.dt-search .dt-input {
    width: auto;
    min-width: 0;
    flex-grow: 1
}

.dt-search .dt-input::placeholder {
    color: inherit
}

.dt-info {
    font-size: 16px
}

.sort-header,.dataTable thead .dt-orderable-asc,.dataTable thead .dt-orderable-desc {
    cursor: pointer
}

.sort-header:after,.dataTable thead .dt-orderable-asc .dt-column-order:after,.dataTable thead .dt-orderable-desc .dt-column-order:after {
    display: inline-block;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    content: "";
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m3 16 4 4 4-4M7 20V4M21 8l-4-4-4 4M17 4v16'/%3E%3C/svg%3E");
    filter: opacity(.6)
}

.sort-header:not(:empty):after,.dataTable thead .dt-orderable-asc .dt-column-title:not(:empty)+.dt-column-order:after,.dataTable thead .dt-orderable-desc .dt-column-title:not(:empty)+.dt-column-order:after {
    margin-left: 2px
}

.sort-header.sort-up:after,.dataTable thead .dt-ordering-desc .dt-column-order:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m3 16 4 4 4-4M7 20V4M11 4h10M11 8h7M11 12h4'/%3E%3C/svg%3E");
    filter: opacity(.9)
}

.sort-header.sort-down:after,.dataTable thead .dt-ordering-asc .dt-column-order:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='m3 8 4-4 4 4M7 4v16M11 12h4M11 16h7M11 20h10'/%3E%3C/svg%3E");
    filter: opacity(.9)
}

.sort-header:hover,.dataTable thead .dt-orderable-asc:hover .dt-column-title,.dataTable thead .dt-orderable-desc:hover .dt-column-title {
    text-decoration: underline
}

.sort-header:hover:after,.dataTable thead .dt-orderable-asc:hover .dt-column-order:after,.dataTable thead .dt-orderable-desc:hover .dt-column-order:after {
    filter: unset
}

.pre-table-title+.dt-container .dataTable_display:first-child {
    color: #f6f3f7;
    background-color: #455a64;
    padding: 10px 30px 15px;
    margin: 0
}

.pre-table-title+.dt-container .dataTable_display:first-child .dt-input {
    border: none;
    color: #f6f3f7;
    background-color: #546d78
}

@media (max-width: 980px) {
    .pre-table-title {
        padding:15px
    }

    .pre-table-title+.dt-container .dataTable_display:first-child {
        padding: 10px 15px
    }

    .table-responsive .dataTable_display {
        flex-direction: column
    }

    .dt-length,.dt-search {
        width: 100%
    }

    .table-responsive,.table-responsive .dataTable_table_wrap {
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive .table,.table-responsive .table-products,.table-responsive .dataTable {
        min-width: 940px;
        max-width: 100%
    }

    .table-responsive table thead th {
        position: relative!important;
        top: 0
    }

    .table-responsive-flex thead {
        display: none
    }

    .table-responsive-flex,.table-responsive-flex tbody {
        display: flex;
        flex-direction: column;
        border: 0
    }

    .table-responsive-flex tr {
        border-bottom: 0;
        display: flex;
        flex-flow: row wrap
    }

    .table-responsive-flex td {
        width: 100%;
        border: 0
    }

    .table-responsive-flex td:first-child {
        border-top: 2px solid var(--border-color);
        padding-bottom: 0;
        font-weight: 700
    }
}

@media (max-width: 500px) {
    .dt-info {
        font-size:14px
    }
}

@media (min-width: 981px) {
    .dt-length label:after {
        color:var(--muted-color);
        content: ". Hold Shift to sort by multiple columns."
    }
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,select {
    text-transform: none
}

button,[type=submit] {
    -webkit-appearance: button
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

[hidden] {
    display: none!important
}

.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    color: #24292e;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fafbfc;
    box-shadow: 0 1px #1b1f230a,inset 0 1px #ffffff40;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    user-select: none;
    appearance: none
}

.btn i {
    font-style: normal;
    font-weight: 400;
    opacity: .75
}

.btn .octicon {
    vertical-align: text-top
}

.btn:hover {
    color: #24292e;
    text-decoration: none;
    background-color: #f3f4f6
}

.btn:active {
    background-color: #edeff2
}

.btn:focus {
    outline: none
}

.btn:focus-visible {
    outline: 2px solid #66c0f4;
    outline-offset: 1px
}

.btn:disabled,.btn:disabled:hover {
    color: var(--muted-color);
    background-color: var(--muted-bg-color);
    background-image: none;
    border-color: #1b1f2333;
    box-shadow: none;
    cursor: default
}

.btn-primary {
    color: #fff;
    background-color: #2ea44f;
    border-color: #1b1f2326;
    box-shadow: 0 1px #1b1f231a,inset 0 1px #ffffff08
}

.btn-primary:hover {
    color: #fff;
    background-color: #2c974b
}

.btn-primary:active {
    background-color: #2a8f47;
    box-shadow: inset 0 1px #14462033
}

.btn-info {
    color: #fff;
    background-color: #643ab0;
    box-shadow: 0 1px #1b1f231a,inset 0 1px #ffffff08
}

.btn-info:hover {
    color: #fff;
    background-color: #5f37a8
}

.btn-info:active {
    background-color: #613ca4;
    box-shadow: inset 0 1px #14462033
}

.btn-danger {
    color: #cb2431
}

.btn-danger:hover {
    color: #fff;
    background-color: #cb2431;
    border-color: #1b1f2326;
    box-shadow: 0 1px #1b1f231a,inset 0 1px #ffffff08
}

.btn-danger:active {
    background-color: #be222e;
    border-color: #1b1f2326;
    box-shadow: inset 0 1px #86181d33
}

.btn-outline {
    color: var(--link-color);
    background: transparent;
    box-shadow: none
}

.btn-outline:hover,.btn-outline:active {
    color: #fff;
    background-color: #0366d6;
    background-image: none;
    border-color: #0366d6
}

.btn-sm {
    padding: 2px 10px
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center
}

.btn-link {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    color: #4183c4;
    cursor: pointer;
    background: none;
    border: 0;
    user-select: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    white-space: normal
}

.btn-link:hover {
    color: #00467a;
    text-decoration: underline;
    background: none
}

.counter {
    display: inline-block;
    padding: 2px 5px;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    color: var(--body-color);
    background-color: var(--border-color);
    border-radius: 20px
}

label {
    font-size: 14px;
    font-weight: 700
}

input {
    accent-color: var(--link-color)
}

.input,input[type=text],input[type=search],input[type=date],select,textarea {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 14px;
    color: var(--body-color);
    vertical-align: middle;
    background-color: var(--body-bg-color);
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    outline: none
}

select {
    height: 34px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--body-bg-color) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23acacac' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px
}

.input:focus,input[type=search]:focus,input[type=text]:focus,input[type=date]:focus,select:focus,textarea:focus {
    border-color: #51a7e8;
    box-shadow: 0 0 0 2px #66c0f4;
    outline: none
}

input[type=range]:focus-visible,input[type=checkbox]:focus-visible,input[type=radio]:focus-visible {
    outline: 2px solid #66c0f4;
    outline-offset: 1px
}

.input-block {
    display: block;
    width: 100%
}

.searchable-select-dropdown {
    background-color: var(--muted-bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 6px 12px #0000002d;
    border-radius: 6px;
    position: absolute;
    user-select: none;
    z-index: 100;
    overscroll-behavior: contain;
    overscroll-behavior-block: contain
}

dl.form>dd .searchable-select-dropdown input,.searchable-select-dropdown input {
    width: calc(100% - 20px);
    margin: 10px
}

.searchable-select-options {
    max-height: 40vh;
    overflow-y: auto
}

.searchable-select-dropdown option {
    padding: 6px 10px;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis
}

.searchable-select-dropdown option.selected {
    background-color: var(--link-color);
    color: #fff
}

.searchable-select-dropdown option:disabled {
    color: var(--muted-color);
    font-style: italic
}

dl.form {
    margin: 15px 0
}

dl.form>dt {
    margin: 0 0 6px
}

dl.form>dt label {
    position: relative
}

dl.form.flattened {
    display: flex
}

dl.form.flattened>dt {
    margin: 0;
    line-height: 32px
}

dl.form.flattened>dd {
    line-height: 32px
}

dl.form>dd input,dl.form>dd select {
    width: 440px;
    max-width: 100%;
    margin-right: 5px
}

dl.form>dd input[type=checkbox],dl.form>dd input[type=radio] {
    width: auto;
    vertical-align: middle
}

dl.form>dd textarea {
    width: 100%;
    height: 200px;
    min-height: 200px
}

dl.form>dd {
    margin-left: 0
}

dl.form>dd>label {
    padding-right: 40px
}

.form-checkbox {
    margin: 15px 0;
    vertical-align: middle
}

.form-checkbox input[type=checkbox],.form-checkbox input[type=radio] {
    margin-right: 5px
}

select:invalid,textarea:invalid,.input:invalid {
    border-color: red
}

::placeholder {
    color: var(--muted-color);
    opacity: 1
}

@media (max-width: 980px) {
    dl.form.flattened {
        flex-direction:column
    }

    dl.form>dd input,dl.form>dd select {
        width: 100%
    }

    select,input[type=text],input[type=search] {
        font-size: 16px
    }
}

.pagination {
    margin: 20px 0;
    text-align: center;
    font-size: 16px
}

.pagination a,.pagination button,.pagination span {
    display: inline-block;
    margin: 0 3px;
    min-width: 32px;
    padding: 5px 10px;
    font-style: normal;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background: unset;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    color: var(--link-color)
}

.pagination button:hover,.pagination button:focus,.pagination a:hover,.pagination a:focus {
    text-decoration: none;
    border-color: var(--link-color-hover);
    outline: 0
}

.pagination a:active {
    border-color: var(--link-color)
}

.pagination .active,.pagination .active:hover,.pagination .active:focus {
    color: #fff;
    background-color: #0366d6;
    border-color: transparent
}

.pagination .ellipsis,.pagination .disabled,.pagination .disabled:hover,.pagination .disabled:focus {
    color: var(--muted-color);
    cursor: default;
    border-color: transparent
}

:root.js-screenshots-shown,:root.js-hover-shown {
    overflow: hidden;
    overscroll-behavior: none
}

#js-hover {
    background: #e3eaef;
    width: 306px;
    color: #30455a;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 16px;
    z-index: 1000000;
    box-shadow: 0 8px 24px #959da533;
    position: absolute;
    transition: left .2s ease-out,top .2s ease-out;
    contain: layout paint
}

.hover_mobile {
    z-index: 1000001;
    background: #1c1e2ce5;
    box-shadow: 0 3px 12px #00000026;
    backdrop-filter: blur(5px);
    position: fixed;
    inset: var(--navbar-height) 0 0 0;
    display: flex;
    align-items: end;
    justify-content: center;
    overscroll-behavior: contain;
    opacity: 1
}

.hover_mobile.hover_hiding {
    opacity: 0;
    transition: opacity .16s ease-out
}

.hover_mobile>#js-hover {
    position: initial;
    width: 100%;
    max-width: 600px;
    max-height: min(100vh - var(--navbar-height) - 15px,80vh);
    transition: transform .16s ease-out;
    border-bottom: 0;
    border-radius: 12px 12px 0 0;
    overflow-y: scroll;
    overscroll-behavior: contain
}

#js-hover.hover_dragging {
    transition: none
}

.hover_mobile>#js-hover:before {
    content: "";
    display: block;
    background: #a4adc1;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    margin: 0 auto 16px
}

.hover_video,.hover_video video,.hover_image,.hover_screenshots {
    display: block;
    background: #1c2937;
    width: 100%;
    min-height: 152px;
    border-radius: 5px;
    aspect-ratio: 16 / 9
}

.hover_image {
    min-height: unset;
    aspect-ratio: 460 / 215
}

.hover_screenshots {
    position: relative
}

.hover_screenshots_blur {
    filter: blur(5px) grayscale(100%);
    transition: filter .3s
}

#js-hover:hover .hover_screenshots_blur {
    filter: none
}

.hover_screenshots .screenshot {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .3s;
    animation: screenshot-hover-fadein 4s linear;
    animation-iteration-count: infinite
}

.hover_screenshots .screenshot:nth-child(1) {
    animation-delay: 0s
}

.hover_screenshots .screenshot:nth-child(2) {
    animation-delay: 1s
}

.hover_screenshots .screenshot:nth-child(3) {
    animation-delay: 2s
}

.hover_screenshots .screenshot:nth-child(4) {
    animation-delay: 3s
}

@keyframes screenshot-hover-fadein {
    0% {
        opacity: 0
    }

    3% {
        opacity: 1
    }

    28% {
        opacity: 1
    }

    31% {
        opacity: 0
    }
}

.hover_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px
}

.hover_buttons>a {
    display: inline-block;
    cursor: pointer;
    color: #273b4b;
    background: #fff;
    padding: 0 5px;
    font-size: 12px;
    border-radius: 5px;
    flex: 1 0 0;
    text-align: center
}

.hover_buttons .hover_store {
    flex-basis: auto;
    flex-grow: 0
}

.hover_buttons .hover_wishlist {
    flex-grow: 1.2
}

.hover_buttons .hover_wishlist.wished {
    background: #002e99;
    color: #fff
}

.hover_buttons .hover_follow.followed {
    background: #247ca8;
    color: #fff
}

.hover_buttons .hover_ignore.ignored {
    background: #bf4040;
    color: #fff
}

.hover_buttons .hover_owned {
    background: #247d3c;
    color: #fff
}

.hover_buttons>a:hover {
    color: #fff;
    background: #417a9b
}

.hover_buttons .loader {
    display: inline-block;
    background: #999;
    width: 18px;
    height: 18px;
    margin: 0;
    vertical-align: -5px
}

.hover_mobile .hover_buttons>a {
    padding: 6px;
    font-size: 14px;
    flex: 1 0 49%
}

.hover_title {
    color: #222d3d;
    font-size: 16px;
    margin-bottom: 6px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.hover_body {
    margin-bottom: 6px
}

.hover_tag_row {
    position: relative;
    overflow: hidden;
    line-height: 1;
    white-space: nowrap;
    -webkit-mask-image: linear-gradient(270deg,transparent,#000 10px);
    mask-image: linear-gradient(270deg,transparent,#000 20px)
}

.hover_tag_row .app_tag {
    display: inline-block;
    line-height: 19px;
    background-color: #96a3ae;
    color: #fff;
    padding: 0 4px;
    font-size: 12px;
    border-radius: 5px
}

.hover_meta {
    font-size: 12px;
    line-height: 1
}

.hover_meta_old {
    color: #e60
}

.hover_meta .octicon-Artdeck+.octicon {
    margin-left: -5px
}

.hover_meta a {
    color: inherit
}

.hover_vr {
    filter: invert(.7)
}

.hover_warning_early,.hover_warning {
    line-height: 1;
    color: #fff;
    padding: 4px 8px;
    background-color: #e60;
    border-radius: 5px;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.hover_warning_token {
    padding: 4px 8px;
    border-radius: 5px;
    color: #66c0f4;
    background-color: #000
}

.hover_warning_token b {
    display: block
}

.hover_warning a,.hover_warning_token a {
    color: inherit;
    text-decoration: underline
}

.hover_warning_token a:hover {
    color: #fff
}

.hover_warning_early {
    color: #000;
    background: #57a4d0
}

.hover_warning+.hover_warning {
    margin-top: -12px
}

.hover_review_summary {
    padding: 8px;
    line-height: 1;
    color: #c6d4df;
    background-color: #1c2937;
    border-radius: 5px
}

.hover_review_summary+.hover_review_summary {
    margin-top: -16px
}

.hover_review_summary a {
    color: inherit
}

.hover_review_good {
    color: #6c3
}

.hover_review_average {
    color: #fc3
}

.hover_review_poor {
    color: #ff683b
}

.hover_review_white {
    color: #aaa
}

.hover_body:last-child {
    margin-bottom: 0
}

.js-open-screenshot-viewer {
    cursor: pointer;
    position: relative
}

#js-hover .js-open-screenshot-viewer:after {
    content: "Click to view screenshots \2191";
    font-size: 10px;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: right;
    color: #444
}

.hover_mobile>#js-hover .js-open-screenshot-viewer:after {
    content: "Tap to view screenshots \2191"
}

.app-row .js-open-screenshot-viewer:hover:after {
    content: "Click to view screenshots";
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    border-radius: 6px 6px 0 0;
    padding: 5px;
    color: #fff;
    background: #0000007f;
    backdrop-filter: blur(5px)
}

#js-screenshots {
    display: none;
    grid-template-rows: min-content 1fr;
    background-color: #000;
    color: #fff;
    position: fixed;
    inset: 0;
    z-index: 1000002
}

:root.js-screenshots-shown #js-screenshots {
    display: grid
}

#js-screenshots .screenshot-header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin: 10px;
    font-size: 16px;
    white-space: nowrap
}

#js-screenshots .screenshot-header span:first-child {
    overflow: hidden;
    text-overflow: ellipsis
}

#js-screenshots .screenshot-header span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-self: center
}

#js-screenshots .screenshot-header .screenshot-index {
    margin: 0 10px;
    font-variant-numeric: tabular-nums
}

#js-screenshots .screenshot-header span:last-child {
    text-align: right
}

#js-screenshots .screenshot-name {
    color: inherit
}

#js-screenshots .screenshot-contain {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer
}

@media (max-width: 980px) {
    #js-screenshots .screenshot-header {
        grid-template-columns:repeat(2,1fr)
    }

    #js-screenshots .screenshot-header span:first-child {
        grid-column: span 2;
        text-align: center;
        margin-bottom: 15px
    }

    #js-screenshots .screenshot-header span:nth-child(2) {
        justify-self: start
    }
}

.tooltipped {
    position: relative
}

.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--body-bg-color);
    background: var(--tooltip-bg);
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    overflow-wrap: anywhere;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    border-radius: 6px;
    backdrop-filter: blur(2px)
}

.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: var(--tooltip-bg);
    pointer-events: none;
    content: "";
    border: 5px solid transparent
}

.tooltipped:hover:before,.tooltipped:hover:after,.tooltipped:active:before,.tooltipped:active:after,.tooltipped:focus-visible:before,.tooltipped:focus-visible:after {
    display: inline-block;
    text-decoration: none
}

.tooltipped-multiline:hover:after,.tooltipped-multiline:active:after,.tooltipped-multiline:focus-visible:after {
    display: table-cell
}

.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px
}

.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: var(--tooltip-bg)
}

.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px
}

.tooltipped-sw:after {
    margin-right: -15px
}

.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px
}

.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: var(--tooltip-bg)
}

.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px
}

.tooltipped-nw:after {
    margin-right: -15px
}

.tooltipped-s:after,.tooltipped-n:after {
    transform: translate(50%)
}

.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    transform: translateY(50%)
}

.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: var(--tooltip-bg)
}

.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    transform: translateY(50%)
}

.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: var(--tooltip-bg)
}

.tooltipped-sticky:before,.tooltipped-sticky:after {
    display: inline-block
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor
}

.flag {
    border-radius: 50%
}

.extension-warning {
    z-index: 1337;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    color: #86181d;
    background-color: #ffdce0;
    border: 1px solid #1b1f23;
    border-radius: 6px
}

.extension-warning .btn {
    margin-top: 10px
}

#js-notifications {
    position: fixed;
    inset: calc(var(--navbar-height) + 10px) 10px 10px calc(50% + 480px);
    max-width: 400px;
    z-index: 1337;
    overflow-y: auto;
    overscroll-behavior: contain;
    pointer-events: none;
    contain: layout paint
}

.noscript-toast,toast-notification {
    display: block;
    color: #86181d;
    background-color: #ffccd2;
    border: 1px solid hsl(353deg 100% 30%);
    border-radius: 6px;
    animation: fade-in ease-in-out .3s;
    padding: 8px 12px;
    margin-bottom: 10px;
    pointer-events: all
}

.noscript-toast .toast-header,toast-notification .toast-header {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid hsl(353deg 100% 80%)
}

toast-notification .btn-close {
    margin-left: auto;
    margin-right: -.25rem;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
    cursor: pointer
}

toast-notification .btn-close:focus,toast-notification .btn-close:hover {
    opacity: 1
}

share-action {
    cursor: pointer
}

share-action:hover {
    text-decoration: underline;
    color: var(--link-color-hover)
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 6px;
    background: #121212 url(/static/img/appicon.svg)
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.text-center,td.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right,td.text-right {
    text-align: right
}

.i {
    font-style: italic
}

b,strong,.b {
    font-weight: 700
}

.inline {
    display: inline-block
}

.tabular-nums {
    font-variant-numeric: tabular-nums
}

.muted,.muted>a {
    color: var(--muted-color)
}

.css-truncate {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top
}

.nowrap {
    white-space: nowrap
}

.d-flex {
    display: flex
}

.flex-grow {
    flex-grow: 1
}

.highcharts-axis-labels {
    pointer-events: none
}

relative-time.tooltipped:after,.timeago.tooltipped:after {
    text-align: left;
    font-variant-numeric: tabular-nums
}

.loader {
    border-radius: 50%;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto 10px;
    border: 4px solid rgb(255 255 255 / 20%);
    border-left-color: #ffffffe5;
    transform: translateZ(0);
    animation: loader-spin .7s infinite linear
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

@media (max-width: 1500px) {
    #js-notifications {
        left:auto
    }
}

@media (max-width: 980px) {
    .hide-small {
        display:none
    }

    #js-notifications {
        left: 10px;
        max-width: 100%
    }

    #js-notifications noscript {
        display: none
    }
}

.price-discount {
    color: #84bc3c
}

.price-discount-minor {
    color: #ef7676
}

.price-discount-major {
    color: #8585e0
}

.muted-banner {
    padding: 15px;
    background-color: var(--muted-bg-color);
    border-radius: 6px
}

.muted-banner p {
    margin: 0
}

@media (max-width: 980px) {
    .chart {
        width:100%!important
    }
}
